ENEM Study - How is education performing in Brazil?
===========================================

Overview
-------------
This is a report that compares ENEM (Exame Nacional do Ensino MÃ©dio - High School National Exam) with other metrics in order to analyse:

* statistical accuracy
* improvement over years
* comparison among different regions of the country

The project consists of different steps of data manipulation and is a good Data Science exercise.

Data Source
-----------------

We will be gathering our data from http://inep.gov.br/microdados , where they are available for download on the form of a zipped csv file. As you might have already noticed, each file has around 3GB of size, so we will have to use a Database to perform our queries and extract data of interest. To keep it simple, we will be using PostGRESQL.

In [4]:
import db
import sqlalchemy

session = db.get_db_session(create_schema=False)

The block below will only be run once to import data in the database. Please be careful!

In [14]:
import os
import os.path
import csv
session = db.get_db_session(create_schema=True)
csv_path = 'D:/Projects/Data/ENEM/microdados_enem2017/DADOS/MICRODADOS_ENEM_2017.csv'
with open(csv_path,'r') as f:
    reader = csv.reader(f)
    header = next(reader)[0].split(';')
    counter = 0
    for row in reader:
        values = row[0].split(';')
        items = dict(zip(header,values))
        
        for key in items.keys():
            if items[key]=='':
                items[key]=None
                
        #checks if the person finished the exam, those who did not finish will be discarded
        if items['NU_NOTA_CN'] and items['NU_NOTA_CH'] and items['NU_NOTA_LC'] and items['NU_NOTA_MT'] and items['NU_NOTA_REDACAO']:
            exame = db.Exame()
            exame.candidato_id = int(items['NU_INSCRICAO']) 
            exame.ano = int(items['NU_ANO']) if items['NU_ANO'] else None
            exame.idade = int(items['NU_IDADE']) if items['NU_IDADE'] else None
            exame.racial_id = int(items['TP_COR_RACA']) if items['TP_COR_RACA'] else None
            exame.sexo = items['TP_SEXO']
            exame.casado_id = int(items['TP_ESTADO_CIVIL']) if items['TP_ESTADO_CIVIL'] else None
            exame.nacional_id = int(items['TP_NACIONALIDADE']) if items['TP_NACIONALIDADE'] else None
            exame.ensinomedio_id = int(items['TP_ST_CONCLUSAO']) if items['TP_ST_CONCLUSAO'] else None
            exame.tipoensinomedio_id = int(items['TP_ESCOLA']) if items['TP_ESCOLA'] else None
            if items['IN_TREINEIRO']=='1':
                exame.treineiro = True 
            elif items['IN_TREINEIRO']=='0':
                exame.treineiro = False
            else:
                exame.treineiro = None
            exame.nota_cn = float(items['NU_NOTA_CN'])
            exame.nota_ch = float(items['NU_NOTA_CH'])
            exame.nota_lc = float(items['NU_NOTA_LC'])
            exame.nota_mt = float(items['NU_NOTA_MT']) 
            exame.nota_red = float(items['NU_NOTA_REDACAO']) 


            if items['CO_MUNICIPIO_PROVA']:
                if not session.query(db.Local).filter_by(id=int(items['CO_MUNICIPIO_PROVA'])).all():
                    local = db.Local()
                    local.id = int(items['CO_MUNICIPIO_PROVA'])
                    local.municipio = items['NO_MUNICIPIO_PROVA']
                    local.estado = items['SG_UF_PROVA']
                    session.add(local)
                    session.commit()
                exame.exame_local_id = int(items['CO_MUNICIPIO_PROVA']) 


            if items['CO_MUNICIPIO_NASCIMENTO']:
                if not session.query(db.Local).filter_by(id=int(items['CO_MUNICIPIO_NASCIMENTO'])).all():
                    local = db.Local()
                    local.id = int(items['CO_MUNICIPIO_NASCIMENTO'])
                    local.municipio = items['NO_MUNICIPIO_NASCIMENTO']
                    local.estado = items['SG_UF_NASCIMENTO']
                    session.add(local)
                    session.commit()
                exame.local_nasc_id = int(items['CO_MUNICIPIO_NASCIMENTO'])

            if items['CO_MUNICIPIO_RESIDENCIA']:
                if not session.query(db.Local).filter_by(id=int(items['CO_MUNICIPIO_RESIDENCIA'])).all():
                    local = db.Local()
                    local.id = int(items['CO_MUNICIPIO_RESIDENCIA'])
                    local.municipio = items['NO_MUNICIPIO_RESIDENCIA']
                    local.estado = items['SG_UF_RESIDENCIA']
                    session.add(local)
                    session.commit()
            exame.residencia_id = int(items['CO_MUNICIPIO_RESIDENCIA'])

            session.add(exame)
            counter += 1
            
            if counter%20000 == 0:
                session.commit()
                print('Inserted: '+str(counter))

        session.commit()    #commits to session
        session.close()     #closes session

Inserted: 20000
Inserted: 40000
Inserted: 60000
Inserted: 80000
Inserted: 100000
Inserted: 120000
Inserted: 140000
Inserted: 160000
Inserted: 180000
Inserted: 200000
Inserted: 220000
Inserted: 240000
Inserted: 260000
Inserted: 280000
Inserted: 300000
Inserted: 320000
Inserted: 340000
Inserted: 360000
Inserted: 380000
Inserted: 400000
Inserted: 420000
Inserted: 440000
Inserted: 460000
Inserted: 480000
Inserted: 500000
Inserted: 520000
Inserted: 540000
Inserted: 560000
Inserted: 580000
Inserted: 600000
Inserted: 620000
Inserted: 640000
Inserted: 660000
Inserted: 680000
Inserted: 700000
Inserted: 720000
Inserted: 740000
Inserted: 760000
Inserted: 780000
Inserted: 800000
Inserted: 820000
Inserted: 840000
Inserted: 860000
Inserted: 880000
Inserted: 900000
Inserted: 920000
Inserted: 940000
Inserted: 960000
Inserted: 980000
Inserted: 1000000
Inserted: 1020000
Inserted: 1040000
Inserted: 1060000
Inserted: 1080000
Inserted: 1100000
Inserted: 1120000
Inserted: 1140000
Inserted: 1160000
Inserted: 1180000
Inserted: 1200000
Inserted: 1220000
Inserted: 1240000
Inserted: 1260000
Inserted: 1280000
Inserted: 1300000
Inserted: 1320000
Inserted: 1340000
Inserted: 1360000
Inserted: 1380000
Inserted: 1400000
Inserted: 1420000
Inserted: 1440000
Inserted: 1460000
Inserted: 1480000
Inserted: 1500000
Inserted: 1520000
Inserted: 1540000
Inserted: 1560000
Inserted: 1580000
Inserted: 1600000
Inserted: 1620000
Inserted: 1640000
Inserted: 1660000
Inserted: 1680000
Inserted: 1700000
Inserted: 1720000
Inserted: 1740000
Inserted: 1760000
Inserted: 1780000
Inserted: 1800000
Inserted: 1820000
Inserted: 1840000
Inserted: 1860000
Inserted: 1880000
Inserted: 1900000
Inserted: 1920000
Inserted: 1940000
Inserted: 1960000
Inserted: 1980000
Inserted: 2000000
Inserted: 2020000
Inserted: 2040000
Inserted: 2060000
Inserted: 2080000
Inserted: 2100000
Inserted: 2120000
Inserted: 2140000
Inserted: 2160000
Inserted: 2180000
Inserted: 2200000
Inserted: 2220000
Inserted: 2240000
Inserted: 2260000
Inserted: 2280000
Inserted: 2300000
Inserted: 2320000
Inserted: 2340000
Inserted: 2360000
Inserted: 2380000
Inserted: 2400000
Inserted: 2420000
Inserted: 2440000
Inserted: 2460000
Inserted: 2480000
Inserted: 2500000
Inserted: 2520000
Inserted: 2540000
Inserted: 2560000
Inserted: 2580000
Inserted: 2600000
Inserted: 2620000
Inserted: 2640000
Inserted: 2660000
Inserted: 2680000
Inserted: 2700000
Inserted: 2720000
Inserted: 2740000
Inserted: 2760000
Inserted: 2780000
Inserted: 2800000
Inserted: 2820000
Inserted: 2840000
Inserted: 2860000
Inserted: 2880000
Inserted: 2900000
Inserted: 2920000
Inserted: 2940000
Inserted: 2960000
Inserted: 2980000
Inserted: 3000000
Inserted: 3020000
Inserted: 3040000
Inserted: 3060000
Inserted: 3080000
Inserted: 3100000
Inserted: 3120000
Inserted: 3140000
Inserted: 3160000
Inserted: 3180000
Inserted: 3200000
Inserted: 3220000
Inserted: 3240000
Inserted: 3260000
Inserted: 3280000
Inserted: 3300000
Inserted: 3320000
Inserted: 3340000
Inserted: 3360000
Inserted: 3380000
Inserted: 3400000
Inserted: 3420000
Inserted: 3440000
Inserted: 3460000
Inserted: 3480000
Inserted: 3500000
Inserted: 3520000
Inserted: 3540000
Inserted: 3560000
Inserted: 3580000
Inserted: 3600000
Inserted: 3620000
Inserted: 3640000
Inserted: 3660000
Inserted: 3680000
Inserted: 3700000
Inserted: 3720000
Inserted: 3740000
Inserted: 3760000
Inserted: 3780000
Inserted: 3800000
Inserted: 3820000
Inserted: 3840000
Inserted: 3860000
Inserted: 3880000
Inserted: 3900000
Inserted: 3920000
Inserted: 3940000
Inserted: 3960000
Inserted: 3980000
Inserted: 4000000
Inserted: 4020000
Inserted: 4040000
Inserted: 4060000
Inserted: 4080000
Inserted: 4100000
Inserted: 4120000
Inserted: 4140000
Inserted: 4160000
Inserted: 4180000
Inserted: 4200000
Inserted: 4220000
Inserted: 4240000
Inserted: 4260000
Inserted: 4280000
Inserted: 4300000
Inserted: 4320000
Inserted: 4340000
Inserted: 4360000
Inserted: 4380000
Inserted: 4400000
Inserted: 4420000

As you may have noticed, we are not adding people who did not have score on every test (math, science, writting, humanities and communication) because this exercise consists of only people who have actually finished the test, or in other words, who did not give up in the middle. For the 2017 edition, approx. 4.5 million applicants did their tests to the end, which already represents a considerable number of data to handle. See how important it was to use a database?

First we onsult how many entries are there.

In [16]:
session = db.get_db_session(create_schema=False)
print(session.query(db.Exame).filter(db.Exame.idade<19,db.Exame.treineiro == False).count())
session.close()

1504360

Now letÂ´s start filtering the top 1000 scores in Math.

In [22]:
import pandas as pd
import numpy as np
from sqlalchemy.orm import joinedload
from sqlalchemy.orm import aliased

session = db.get_db_session(create_schema=False)
nasc = aliased(db.Local)
exame = aliased(db.Local)
res = aliased(db.Local)
'''
df = pd.read_sql(session.query(db.Exame.sexo,
                               db.Exame.nota_mt,
                               db.Exame.nota_ch,
                               db.Exame.nota_red,
                               db.Exame.nota_lc,
                               db.Exame.nota_cn,
                               db.Exame.idade,
                               exame.municipio.label('municipio_exame'),
                               exame.estado.label('estado_exame'),
                               nasc.municipio.label('municipio_nasc'),
                               nasc.estado.label('estado_nasc'),
                               res.municipio.label('municipio_res'),
                               res.estado.label('estado_res')
                              ).
                 order_by(db.Exame.nota_mt.desc()).limit(10).statement,session.bind) 
                 
'''

df = pd.read_sql(session.query(db.Exame).with_labels().filter(db.Exame.idade<19,db.Exame.treineiro==False).
                 options(joinedload(db.Exame.exame_local),joinedload(db.Exame.residencia),joinedload(db.Exame.local_nasc),
                        joinedload(db.Exame.racial),joinedload(db.Exame.nacional),joinedload(db.Exame.casado)).
                 order_by(db.Exame.nota_mt.desc()).
                 limit(15000).
                 statement,session.bind)
#cleans ids
df = pd.concat([df['exame_idade'],
                df['nacionalidade_1_nacionalidade'],
               df['estadocivil_1_estado_civil'],
               df['exame_sexo'],
               df['exame_nota_cn'],
               df['exame_nota_ch'],
               df['exame_nota_lc'],
               df['exame_nota_mt'],
               df['exame_nota_red'],
               df['racial_1_racial_id'],
               df['local_1_municipio'],
               df['local_1_estado'],
               df['local_2_municipio'],
               df['local_2_estado'],
               df['local_3_municipio'],
               df['local_3_estado']],axis=1,
               keys=['idade','nacionalidade','casado','sexo','nota_cn','nota_ch','nota_lc','nota_mt',
                                  'nota_red','raca','mun_exame','estado_exame','mun_res','estado_res','mun_nasc','estado_nasc'])
session.close()

Now we see the 10 first rows to make sure we are ok.

In [23]:
df.head(10)

,idade,nacionalidade,casado,sexo,nota_cn,nota_ch,nota_lc,nota_mt,nota_red,raca,mun_exame,estado_exame,mun_res,estado_res,mun_nasc,estado_nasc
0,18,Brasileiro(a),Solteiro(a),M,585.4,673.2,581.3,993.9,600.0,Branca,MaceiÃ³,AL,MaceiÃ³,AL,MaceiÃ³,AL
1,17,Brasileiro(a),Solteiro(a),M,812.1,813.1,736.6,993.9,820.0,Branca,Osasco,SP,SÃ£o Paulo,SP,Osasco,SP
2,18,Brasileiro(a),Solteiro(a),M,833.9,781.0,666.6,993.9,840.0,Branca,Belo Horizonte,MG,Belo Horizonte,MG,Belo Horizonte,MG
3,17,Brasileiro(a),Solteiro(a),M,813.6,808.4,695.6,993.9,900.0,Parda,Recife,PE,Recife,PE,Recife,PE
4,16,Brasileiro(a),Solteiro(a),M,771.5,705.6,607.9,992.8,840.0,Parda,Sete Lagoas,MG,Sete Lagoas,MG,Sete Lagoas,MG
5,17,Brasileiro(a),Solteiro(a),M,736.2,718.9,638.4,992.8,860.0,Branca,Araras,SP,Araras,SP,Araras,SP
6,17,Brasileiro(a),Solteiro(a),M,739.7,765.8,635.3,990.2,760.0,Branca,Aracaju,SE,Aracaju,SE,Aracaju,SE
7,18,Brasileiro(a),Solteiro(a),M,705.9,668.6,627.6,990.2,680.0,Parda,Rio de Janeiro,RJ,Rio de Janeiro,RJ,Rio de Janeiro,RJ
8,17,Brasileiro(a),Solteiro(a),M,721.2,681.8,600.7,989.7,800.0,Branca,Recife,PE,Recife,PE,Recife,PE
9,18,Brasileiro(a),Solteiro(a),M,731.7,734.0,672.9,989.7,940.0,Branca,GoiÃ¢nia,GO,Rio Verde,GO,GoiÃ¢nia,GO

In [24]:
df.groupby('estado_res').count().sort_values(['nota_mt'],ascending=False)

,idade,nacionalidade,casado,sexo,nota_cn,nota_ch,nota_lc,nota_mt,nota_red,raca,mun_exame,estado_exame,mun_res,mun_nasc,estado_nasc
estado_res,,,,,,,,,,,,,,,
SP,3805,3805,3745,3805,3805,3805,3805,3805,3805,3805,3805,3805,3805,3805,3805
MG,2299,2299,2261,2299,2299,2299,2299,2299,2299,2299,2299,2299,2299,2299,2299
RJ,1532,1532,1496,1532,1532,1532,1532,1532,1532,1532,1532,1532,1532,1532,1532
CE,909,909,897,909,909,909,909,909,909,909,909,909,909,909,909
PR,824,824,802,824,824,824,824,824,824,824,824,824,824,824,824
PE,644,644,629,644,644,644,644,644,644,644,644,644,644,644,644
RS,604,604,595,604,604,604,604,604,604,604,604,604,604,604,604
GO,548,548,534,548,548,548,548,548,548,548,548,548,548,548,548
BA,495,495,481,495,495,495,495,495,495,495,495,495,495,495,495
SC,449,449,437,449,449,449,449,449,449,449,449,449,449,449,449
ES,407,407,400,407,407,407,407,407,407,407,407,407,407,407,407
DF,360,360,346,360,360,360,360,360,360,360,360,360,360,360,360
PI,330,330,323,330,330,330,330,330,330,330,330,330,330,330,330
PB,268,268,264,268,268,268,268,268,268,268,268,268,268,268,268
PA,257,257,249,257,257,257,257,257,257,257,257,257,257,257,257
RN,183,183,181,183,183,183,183,183,183,183,183,183,183,183,183
MT,162,162,162,162,162,162,162,162,162,162,162,162,162,162,162
MA,144,144,141,144,144,144,144,144,144,144,144,144,144,144,144
MS,144,144,142,144,144,144,144,144,144,144,144,144,144,144,144
SE,139,139,137,139,139,139,139,139,139,139,139,139,139,139,139
AL,116,116,113,116,116,116,116,116,116,116,116,116,116,116,116
AM,64,64,60,64,64,64,64,64,64,64,64,64,64,64,64
TO,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50
RO,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36
AP,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11
AC,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
RR,3,3,2,3,3,3,3,3,3,3,3,3,3,3,3

In [45]:
df[df['sexo']=='F'].count()

idade            768316
nacionalidade    768316
casado           757356
sexo             768316
nota_cn          768316
nota_ch          768316
nota_lc          768316
nota_mt          768316
nota_red         768316
raca             768316
mun_exame        768316
estado_exame     768316
mun_res          738158
estado_res       738158
mun_nasc         768316
estado_nasc      768316
dtype: int64

In [37]:
from sqlalchemy import func

session = db.get_db_session(create_schema=False)
df = pd.read_sql(session.query(db.Exame).with_labels().filter(
                                (db.Exame.nota_ch+db.Exame.nota_red+db.Exame.nota_lc+db.Exame.nota_cn+db.Exame.nota_mt)/5>=450,
                                db.Exame.treineiro==False,
                                db.Exame.idade<19).
                 options(joinedload(db.Exame.exame_local),joinedload(db.Exame.residencia),joinedload(db.Exame.local_nasc),
                        joinedload(db.Exame.racial),joinedload(db.Exame.nacional),joinedload(db.Exame.casado)).
                 statement,session.bind)
session.close()

df = pd.concat([df['exame_idade'],
                df['nacionalidade_1_nacionalidade'],
               df['estadocivil_1_estado_civil'],
               df['exame_sexo'],
               df['exame_nota_cn'],
               df['exame_nota_ch'],
               df['exame_nota_lc'],
               df['exame_nota_mt'],
               df['exame_nota_red'],
               df['racial_1_racial_id'],
               df['local_1_municipio'],
               df['local_1_estado'],
               df['local_2_municipio'],
               df['local_2_estado'],
               df['local_3_municipio'],
               df['local_3_estado']],axis=1,
               keys=['idade','nacionalidade','casado','sexo','nota_cn','nota_ch','nota_lc','nota_mt',
                                  'nota_red','raca','mun_exame','estado_exame','mun_res','estado_res','mun_nasc','estado_nasc'])

In [38]:
group_by_sexo = df.groupby('sexo').count()
group_by_sexo.loc["F"]['idade']/(group_by_sexo.loc["F"]['idade'] + group_by_sexo.loc["M"]['idade'])

0.596935747028203

In [39]:
print(df.shape)

(1287100, 16)

In [44]:
df = df.sort_values('nota_mt',ascending=True)
df.head(30)

,idade,nacionalidade,casado,sexo,nota_cn,nota_ch,nota_lc,nota_mt,nota_red,raca,mun_exame,estado_exame,mun_res,estado_res,mun_nasc,estado_nasc
1287099,17,Brasileiro(a),Solteiro(a),M,562.5,592.1,521.0,0.0,820.0,Parda,Governador Valadares,MG,Mendes Pimentel,MG,Governador Valadares,MG
1287088,18,Brasileiro(a),Solteiro(a),F,502.2,581.8,510.5,0.0,700.0,Branca,Barbacena,MG,Barbacena,MG,Barbacena,MG
1287089,18,Brasileiro(a),None,F,376.0,580.5,598.9,0.0,780.0,Branca,JaraguÃ¡ do Sul,SC,JaraguÃ¡ do Sul,SC,JaraguÃ¡ do Sul,SC
1287090,17,Brasileiro(a),Solteiro(a),F,492.8,567.9,484.1,0.0,840.0,Parda,BrasÃ­lia,DF,BrasÃ­lia,DF,BrasÃ­lia,DF
1287091,18,Brasileiro(a),Solteiro(a),M,584.0,592.5,589.9,0.0,540.0,Parda,Bauru,SP,Monte Carmelo,MG,Bauru,SP
1287092,17,Brasileiro(a),Solteiro(a),M,475.5,645.5,490.1,0.0,700.0,Branca,Cacoal,RO,Cacoal,RO,Cacoal,RO
1287098,17,Brasileiro(a),Solteiro(a),F,493.0,638.4,556.6,0.0,680.0,Branca,Santana de ParnaÃ­ba,SP,Santo AndrÃ©,SP,Santana de ParnaÃ­ba,SP
1287094,17,Brasileiro(a),Solteiro(a),M,555.3,595.7,587.4,0.0,740.0,Branca,Paulista,PE,Olinda,PE,Paulista,PE
1287095,17,Brasileiro(a),Solteiro(a),M,423.2,600.3,576.4,0.0,720.0,Branca,Mucuri,BA,Palmas,TO,Mucuri,BA
1287096,18,Brasileiro(a),Solteiro(a),F,540.6,660.9,585.1,0.0,800.0,Parda,VÃ¡rzea Grande,MT,CuiabÃ¡,MT,VÃ¡rzea Grande,MT
1287097,17,Brasileiro(a),Solteiro(a),F,457.9,624.0,587.9,0.0,680.0,Branca,FlorianÃ³polis,SC,SÃ£o Paulo,SP,FlorianÃ³polis,SC
1287093,17,Brasileiro(a),Solteiro(a),M,625.7,584.6,580.1,0.0,560.0,Branca,Campinas,SP,Campinas,SP,Campinas,SP
1287087,18,Brasileiro(a),None,F,450.6,518.7,393.3,331.6,620.0,Branca,BelÃ©m,PA,BelÃ©m,PA,BelÃ©m,PA
1287086,17,Brasileiro(a),Solteiro(a),F,479.4,466.2,407.7,333.5,600.0,NÃ£o declarado,Matinhos,PR,Matinhos,PR,Matinhos,PR
1287085,18,Brasileiro(a),Solteiro(a),F,491.0,464.7,496.9,344.4,660.0,Parda,SÃ£o Paulo,SP,VitÃ³ria,ES,SÃ£o Paulo,SP
1287084,18,Brasileiro(a),Solteiro(a),F,447.9,458.0,441.7,349.5,660.0,Parda,GoiÃ¢nia,GO,Santa Terezinha de GoiÃ¡s,GO,GoiÃ¢nia,GO
1287067,17,Brasileiro(a),Solteiro(a),F,490.8,394.1,532.5,350.1,520.0,Preta,BrasÃ­lia,DF,Monte Alegre do PiauÃ­,PI,BrasÃ­lia,DF
1287066,17,Brasileiro(a),Solteiro(a),M,460.7,600.4,550.8,350.1,520.0,Branca,Londrina,PR,Palmas,PR,Londrina,PR
1287065,18,Brasileiro(a),Solteiro(a),F,460.3,544.1,488.0,350.1,680.0,Branca,Curitiba,PR,Rio Claro,SP,Curitiba,PR
1287064,16,Brasileiro(a),Solteiro(a),F,603.1,421.4,442.0,350.1,520.0,Parda,Fortaleza,CE,Fortaleza,CE,Fortaleza,CE
1287063,17,Brasileiro(a),Solteiro(a),F,448.7,538.1,511.1,350.1,600.0,Parda,SÃ£o Paulo,SP,PeruÃ­be,SP,SÃ£o Paulo,SP
1287058,18,Brasileiro(a),Solteiro(a),F,539.2,475.5,463.7,350.1,560.0,Parda,SÃ£o LuÃ­s,MA,SÃ£o LuÃ­s,MA,SÃ£o LuÃ­s,MA
1287061,17,Brasileiro(a),Solteiro(a),F,466.3,587.1,580.0,350.1,780.0,Branca,JundiaÃ­,SP,JundiaÃ­,SP,JundiaÃ­,SP
1287060,18,Brasileiro(a),Solteiro(a),M,508.5,589.1,600.3,350.1,400.0,Branca,BrasÃ­lia,DF,BrasÃ­lia,DF,BrasÃ­lia,DF
1287059,18,Brasileiro(a),Solteiro(a),F,491.9,534.2,481.4,350.1,780.0,Parda,Palmas,TO,Palmas,TO,Palmas,TO
1287068,17,Brasileiro(a),Solteiro(a),F,483.2,438.3,476.3,350.1,560.0,Parda,CametÃ¡,PA,CametÃ¡,PA,CametÃ¡,PA
1287057,17,Brasileiro(a),Solteiro(a),M,474.0,518.8,476.4,350.1,480.0,Preta,Manaus,AM,Manaus,AM,Manaus,AM
1287062,17,Brasileiro(a),Solteiro(a),F,415.4,499.2,556.0,350.1,440.0,Branca,Dourados,MS,Dourados,MS,Dourados,MS
1287069,18,Brasileiro(a),Solteiro(a),M,459.2,507.0,503.2,350.1,460.0,Parda,BrasÃ­lia,DF,BrasÃ­lia,DF,BrasÃ­lia,DF
1287070,17,Brasileiro(a),Solteiro(a),F,391.0,422.6,467.8,350.1,640.0,Parda,SÃ£o LuÃ­s,MA,Belo Horizonte,MG,SÃ£o LuÃ­s,MA